In [99]:
import numpy as np
import pandas as pd

In [100]:
df = pd.read_csv('./Invistico_Airline.csv')
df.head()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 21.8+ MB

### Handling Missing values

In [102]:
(df.isnull().sum() * 100 / len(df))

satisfaction                         0.000000
Customer Type                        0.000000
Age                                  0.000000
Type of Travel                       0.000000
Class                                0.000000
Flight Distance                      0.000000
Seat comfort                         0.000000
Departure/Arrival time convenient    0.000000
Food and drink                       0.000000
Gate location                        0.000000
Inflight wifi service                0.000000
Inflight entertainment               0.000000
Online support                       0.000000
Ease of Online booking               0.000000
On-board service                     0.000000
Leg room service                     0.000000
Baggage handling                     0.000000
Checkin service                      0.000000
Cleanliness                          0.000000
Online boarding                      0.000000
Departure Delay in Minutes           0.000000
Arrival Delay in Minutes             0.302587
dtype: float64

As 0.30 percent of data is missing in the column 'Arrival Delay in minutes'. We can replace those values.<br>
Creating a strategy to handle missing value<br> 
The duration of delay in minutes in arrival could be approximately guessed by the approximate delay in departure.

In [103]:
df[df['Arrival Delay in Minutes'].isna()]

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
145,satisfied,Loyal Customer,21,Personal Travel,Eco,4804,0,2,0,4,...,5,5,4,1,4,2,3,5,20,NaN
246,satisfied,Loyal Customer,28,Personal Travel,Eco,1364,0,3,0,4,...,4,2,1,1,3,4,3,2,0,NaN
710,satisfied,Loyal Customer,28,Personal Travel,Eco,1792,0,5,0,3,...,5,5,4,4,5,3,4,5,24,NaN
736,satisfied,Loyal Customer,9,Personal Travel,Eco,1862,0,5,0,4,...,3,3,5,3,4,4,4,3,0,NaN
818,dissatisfied,Loyal Customer,9,Personal Travel,Eco,1668,1,0,1,1,...,4,4,4,5,1,5,1,4,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127739,satisfied,Loyal Customer,44,Business travel,Business,3431,2,2,3,2,...,4,5,5,5,5,5,5,4,70,NaN
128131,satisfied,Loyal Customer,39,Business travel,Business,1595,4,4,4,4,...,5,5,5,5,5,3,5,5,0,NaN
128710,satisfied,Loyal Customer,45,Business travel,Eco,871,5,1,1,1,...,2,5,5,5,5,1,5,5,100,NaN
129774,satisfied,disloyal Customer,49,Personal Travel,Eco,1594,5,4,5,2,...,3,3,1,4,3,3,4,3,0,NaN
129873,satisfied,disloyal Customer,63,Personal Travel,Eco,1942,5,5,4,4,...,3,3,5,2,5,3,5,3,7,NaN

In [104]:
df.loc[df['Arrival Delay in Minutes'].isna(), 'Arrival Delay in Minutes'] = df['Departure Delay in Minutes']
df['Arrival Delay in Minutes'].isnull().sum()

0

### Feature Encoding

Encoding the Customer Type, Type of Travel and Class column in dataset.<br>
Customer Type:- Loyal Customer, disloyal customer<br>
Type of travel:- Business Travel, Personal Travel<br>
Class:- Business, Eco, Eco Plus

In [105]:
# Features
X = df.drop('satisfaction', axis=1)

# Target variable
y = df['satisfaction']

In [106]:
X = pd.get_dummies(data=X, drop_first=True)
X

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
0,65,265,0,0,0,2,2,4,2,3,...,3,5,3,2,0,0.0,0,1,1,0
1,47,2464,0,0,0,3,0,2,2,3,...,4,2,3,2,310,305.0,0,1,0,0
2,15,2138,0,0,0,3,2,0,2,2,...,4,4,4,2,0,0.0,0,1,1,0
3,60,623,0,0,0,3,3,4,3,1,...,1,4,1,3,0,0.0,0,1,1,0
4,70,354,0,0,0,3,4,3,4,2,...,2,4,2,5,0,0.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,29,1731,5,5,5,3,2,5,2,2,...,4,4,4,2,0,0.0,1,1,1,0
129876,63,2087,2,3,2,4,2,1,1,3,...,3,1,2,1,174,172.0,1,1,0,0
129877,69,2320,3,0,3,3,3,2,2,4,...,4,2,3,2,155,163.0,1,1,1,0
129878,66,2450,3,2,3,2,3,2,2,3,...,3,2,1,2,193,205.0,1,1,1,0
129879,38,4307,3,4,3,3,3,3,3,4,...,5,3,3,3,185,186.0,1,1,1,0

In [107]:
# Encoding the target variable
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)
y

array([1, 1, 1, ..., 0, 0, 0])

In [108]:
le.classes_

array(['dissatisfied', 'satisfied'], dtype=object)

In [109]:
le.inverse_transform([0])

array(['dissatisfied'], dtype=object)

Encoding is like this<br>
1 :- Satified<br>
0 :- dissatisfied

### Splitting the dataset

In [110]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [111]:
X_train

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
18386,40,1586,3,3,3,3,2,4,4,4,...,4,4,4,5,4,1.0,0,1,1,0
115613,49,1974,1,1,1,1,5,4,5,5,...,5,3,5,4,0,0.0,0,0,0,0
68138,21,4373,1,3,3,3,1,1,1,1,...,4,2,3,1,0,1.0,0,0,0,0
78244,54,1471,2,1,4,4,3,2,3,3,...,4,4,4,3,4,6.0,0,0,1,0
34472,68,1905,4,4,4,1,2,4,2,2,...,4,5,4,2,6,0.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128106,42,1710,3,3,3,3,3,4,4,5,...,5,4,5,4,54,33.0,0,0,0,0
103694,51,2148,4,5,5,5,4,4,4,2,...,3,4,4,4,329,395.0,0,0,1,0
860,64,1206,1,0,1,2,1,1,1,1,...,5,4,4,1,13,9.0,0,1,1,0
15795,22,1193,3,3,3,3,1,3,5,4,...,4,1,4,4,0,0.0,0,1,1,0
121958,48,245,5,3,3,3,3,1,3,5,...,5,4,5,5,0,0.0,0,0,1,0

In [112]:
X_train['Food and drink'].unique()

array([3, 1, 4, 5, 2, 0])

In [113]:
X_train.iloc[:, :-7]

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness
18386,40,1586,3,3,3,3,2,4,4,4,4,4,4,4,4
115613,49,1974,1,1,1,1,5,4,5,5,5,5,5,3,5
68138,21,4373,1,3,3,3,1,1,1,1,1,5,4,2,3
78244,54,1471,2,1,4,4,3,2,3,3,2,5,4,4,4
34472,68,1905,4,4,4,1,2,4,2,2,4,5,4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128106,42,1710,3,3,3,3,3,4,4,5,5,5,5,4,5
103694,51,2148,4,5,5,5,4,4,4,2,1,2,3,4,4
860,64,1206,1,0,1,2,1,1,1,1,3,2,5,4,4
15795,22,1193,3,3,3,3,1,3,5,4,4,4,4,1,4
121958,48,245,5,3,3,3,3,1,3,5,5,5,5,4,5

### Feature Scaling

In [114]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train.iloc[:, :-7] = sc.fit_transform(X_train.iloc[:, :-7])
X_train = X_train.to_numpy()

In [115]:
X_test.iloc[:, :-7] = sc.transform(X_test.iloc[:, :-7])
X_test = X_test.to_numpy()
X_test

array([[ 1.28933954, -0.499042  ,  0.83699607, ...,  0.        ,
         0.        ,  0.        ],
       [-1.15710511, -0.20566812, -1.32131618, ...,  0.        ,
         1.        ,  0.        ],
       [ 1.02485904,  1.63254824, -2.0407536 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.49590385,  1.45905804, -0.60187877, ...,  0.        ,
         1.        ,  0.        ],
       [-0.49590385,  0.31187848,  0.11755865, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.22321942,  0.58380974, -1.32131618, ...,  0.        ,
         0.        ,  0.        ]])

### Logistic Regression

In [129]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=42, max_iter=400, solver='lbfgs')
lr.fit(X_train, y_train)

LogisticRegression(max_iter=400, random_state=42)

In [130]:
y_pred_prob = lr.predict_proba(X_test)
y_pred_prob

array([[0.07234819, 0.92765181],
       [0.93947456, 0.06052544],
       [0.16985357, 0.83014643],
       ...,
       [0.92333286, 0.07666714],
       [0.64107009, 0.35892991],
       [0.12287546, 0.87712454]])

In [131]:
y_pred = lr.predict(X_test)
y_pred

array([1, 0, 1, ..., 0, 0, 1])

In [132]:
from sklearn.metrics import log_loss, accuracy_score, classification_report

print("Log Loss:", log_loss(y_test, y_pred_prob))
print("Accuracy:", accuracy_score(y_test, y_pred))

Log Loss: 0.4023129958342357
Accuracy: 0.8265578482701982

### XGBoost

In [135]:
from xgboost import XGBClassifier

In [137]:
xgbc = XGBClassifier()
xgbc.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [138]:
y_pred = xgbc.predict(X_test)

In [139]:
# print("Log Loss:", log_loss(y_test, y_pred_prob))
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9545991171337646